{%extends 'main/base.html'%}
{%block title%}{{title}}{%endblock%}
{%block page-content%}
<main class="px-5 mb-0 text-center" style="margin-top:200px">
    <h1>Сайт задачник</h1>
    <p class="lead">Проект создан с целью изучения, на курсах программирования, возможностей фреймворка Django.
    <br>
        Этот сайт показывает мои навыки работы с фреймворком, а также мои навыки верстки.
    </p>
    <p class="lead">
        <a href="/about" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Узнать больше</a>
    </p>

</main>

{%endblock%}